#experience{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.expTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
}
.companyCard{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}
.company{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: #0C1446;
}
.company:hover{
    box-shadow: 9px 9px 4px #175873;
    cursor: pointer;
}
.companyLogo{
    object-fit: cover;
    height: 3rem;
    width: 8rem;
    margin-right: 2rem;
}
.companyDate{
    font-style: italic;
    font-size: 0.7rem;
    font-weight:lighter;
    margin-right: 2rem;
}
.paralist{
    padding-top: 1rem;
    font-weight: 300;
    font-size: 0.9rem;
    max-width: 50rem;
}
@media screen and (max-width:480px) {
    .companyContent>p {
        font-size: 3vw;
    }
    .company{
        flex-direction: column;
    }
}
